.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0%;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0%;
    z-index: -1;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: 0%;
    margin-top: 0%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 0%;
    margin-top: 0%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1200px;
    text-align: center;
    color: #ffffff;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding: 1rem;
}

.hero-content .main-heading {
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: bold;
    margin-bottom: 0.8rem;
    width: 100%;
    text-align: center;
    line-height: 1.2;
}

.hero-content .sub-text {
    font-size: clamp(1rem, 2.5vw, 1.8rem);
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0.02em;
}

.hero-button1 {
    padding: 12px 24px;
    font-size: clamp(1.1rem, 1.3vw, 1.3rem);
    color: #ffffff;
    background-color: #be123c;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: 0 auto;
    display: block;
    margin-top: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.hero-button1:hover {
    transform: scale(1.05);
    background-color: #a51032;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768px) {
    .hero-content {
        width: 95%;
        padding: 0.5rem;
    }
    
    .hero-content .main-heading {
        margin-bottom: 0;
        padding-bottom: 0%;
    }
    
    .hero-content .sub-text {
        margin-bottom: 1.8rem;
    }

    .hero-button1 {
        padding: 10px 10px;
        font-size: 1.1rem;
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .hero-content {
        padding: 0.2rem;
    }
    .hero-content .main-heading {
        margin-bottom: 0; /* No bottom margin needed when sub-text is hidden */
    }
    .hero-content .sub-text {
        display: none; /* Hide sub-text on mobile */
    }
   
}